.homepage {
  background-color: #383838;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.homepage .div {
  background-color: #383838;
  width: 1440px;
  height: 4096px;
  position: relative;
}

.homepage .herobox {
  position: absolute;
  width: 1198px;
  height: 552px;
  top: 272px;
  left: 170px;
  background-color: #383838;
}

.homepage .text-wrapper {
  position: absolute;
  width: 615px;
  top: 126px;
  left: 583px;
  font-family: "Roboto Flex-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .frame {
  position: absolute;
  width: 435px;
  height: 552px;
  top: 0;
  left: 0;
  border-radius: 25px;
  background-image: url(./img/frame-7.png);
  background-size: cover;
  background-position: 50% 50%;
}

.homepage .pbutton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 33px;
  position: absolute;
  top: 411px;
  left: 615px;
  background-color: #8cbeb2;
  border-radius: 13px;
  overflow: hidden;
}

.homepage .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto Flex-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .text-wrapper-3 {
  position: absolute;
  top: 76px;
  left: 74px;
  font-family: "Roboto Flex-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .frame-wrapper {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: 1024px;
  left: 0;
  background-color: #877f5f;
}

.homepage .frame-2 {
  position: relative;
  width: 1259px;
  height: 734px;
  top: 159px;
  left: 91px;
}

.homepage .frame-3 {
  position: absolute;
  width: 591px;
  height: 414px;
  top: 153px;
  left: 38px;
  background-color: #000000;
  border-radius: 94px;
}

.homepage .p {
  position: absolute;
  width: 447px;
  top: 278px;
  left: 693px;
  font-family: "Rosario-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper-4 {
  position: absolute;
  top: 152px;
  left: 693px;
  font-family: "Roboto Slab-ExtraBold", Helvetica;
  font-weight: 800;
  color: #4d2424;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .div-wrapper {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: 2048px;
  left: 0;
  background-color: #f2ebbf;
}

.homepage .frame-4 {
  position: relative;
  width: 1190px;
  height: 706px;
  top: 189px;
  left: 125px;
}

.homepage .frame-5 {
  position: absolute;
  width: 536px;
  height: 408px;
  top: 149px;
  left: 49px;
  background-color: #000000;
  border-radius: 94px;
}

.homepage .gaming-is-the {
  position: absolute;
  width: 462px;
  top: 242px;
  left: 652px;
  font-family: "Rosario-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper-5 {
  position: absolute;
  top: 148px;
  left: 652px;
  font-family: "RocknRoll One-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .frame-6 {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: 3072px;
  left: 0;
  background-color: #f3b562;
}

.homepage .frame-7 {
  position: relative;
  width: 1218px;
  height: 788px;
  top: 118px;
  left: 136px;
}

.homepage .frame-8 {
  position: absolute;
  width: 551px;
  height: 355px;
  top: 148px;
  left: 58px;
  background-color: #000000;
  border-radius: 94px;
}

.homepage .text-wrapper-6 {
  position: absolute;
  width: 409px;
  top: 273px;
  left: 675px;
  font-family: "Rosario-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper-7 {
  position: absolute;
  top: 172px;
  left: 675px;
  font-family: "Rosario-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .nav {
  display: flex;
  width: 276px;
  align-items: flex-start;
  gap: 29px;
  padding: 7px 11px 7px 17px;
  position: absolute;
  top: 70px;
  left: 1074px;
  background-color: #383838;
  border-radius: 18px;
}

.homepage .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto Flex-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.portfolio {
  background-color: #383838;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.portfolio .div {
  background-color: #383838;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.portfolio .text-wrapper {
  position: absolute;
  top: 41px;
  left: 66px;
  font-family: "Roboto Flex-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.portfolio .nav {
  display: flex;
  width: 276px;
  align-items: flex-start;
  gap: 29px;
  padding: 7px 11px 7px 17px;
  position: absolute;
  top: 35px;
  left: 1055px;
  background-color: #383838;
  border-radius: 18px;
}

.portfolio .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto Flex-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.portfolio .frame {
  position: absolute;
  width: 303px;
  height: 349px;
  top: 117px;
  left: 66px;
  background-color: #f3b562;
}

.portfolio .frame-2 {
  position: absolute;
  width: 302px;
  height: 174px;
  top: 0;
  left: 1px;
  background-image: url(./img/frame-9-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .p {
  position: absolute;
  width: 280px;
  top: 181px;
  left: 17px;
  font-family: "Margarine-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio .pbutton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 33px;
  position: absolute;
  top: 289px;
  left: 95px;
  background-color: #8cbeb2;
  border-radius: 13px;
  overflow: hidden;
}

.portfolio .let-s-talk {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto Flex-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.portfolio .frame-3 {
  position: absolute;
  width: 303px;
  height: 349px;
  top: 515px;
  left: 66px;
  background-color: #f3b562;
}

.portfolio .frame-4 {
  position: absolute;
  width: 302px;
  height: 174px;
  top: 0;
  left: 1px;
  background-image: url(./img/frame-9-6.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .frame-5 {
  position: absolute;
  width: 303px;
  height: 349px;
  top: 117px;
  left: 381px;
  background-color: #f3b562;
}

.portfolio .frame-6 {
  position: absolute;
  width: 302px;
  height: 174px;
  top: 0;
  left: 1px;
  background-image: url(./img/frame-9.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .frame-7 {
  position: absolute;
  width: 303px;
  height: 349px;
  top: 515px;
  left: 381px;
  background-color: #f3b562;
}

.portfolio .frame-8 {
  position: absolute;
  width: 302px;
  height: 174px;
  top: 0;
  left: 1px;
  background-image: url(./img/frame-9-4.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .frame-9 {
  position: absolute;
  width: 303px;
  height: 349px;
  top: 117px;
  left: 696px;
  background-color: #f3b562;
}

.portfolio .frame-10 {
  position: absolute;
  width: 302px;
  height: 174px;
  top: 0;
  left: 1px;
  background-image: url(./img/frame-9-7.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .frame-11 {
  position: absolute;
  width: 303px;
  height: 349px;
  top: 515px;
  left: 696px;
  background-color: #f3b562;
}

.portfolio .frame-12 {
  position: absolute;
  width: 302px;
  height: 174px;
  top: 0;
  left: 1px;
  background-image: url(./img/frame-9-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .frame-13 {
  position: absolute;
  width: 303px;
  height: 349px;
  top: 117px;
  left: 1011px;
  background-color: #f3b562;
}

.portfolio .frame-14 {
  position: absolute;
  width: 302px;
  height: 174px;
  top: 0;
  left: 1px;
  background-image: url(./img/frame-9-5.png);
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio .frame-15 {
  position: absolute;
  width: 303px;
  height: 349px;
  top: 515px;
  left: 1011px;
  background-color: #f3b562;
}

.portfolio .frame-16 {
  position: absolute;
  width: 302px;
  height: 174px;
  top: 0;
  left: 1px;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.contact {
  background-color: #383838;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contact .div {
  background-color: #383838;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.contact .text-wrapper {
  position: absolute;
  top: 64px;
  left: 60px;
  font-family: "Roboto Flex-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contact .nav {
  display: flex;
  width: 276px;
  align-items: flex-start;
  gap: 29px;
  padding: 7px 11px 7px 17px;
  position: absolute;
  top: 54px;
  left: 1042px;
  background-color: #383838;
  border-radius: 18px;
}

.contact .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto Flex-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contact .frame {
  position: absolute;
  width: 736px;
  height: 439px;
  top: 198px;
  left: 536px;
  background-color: #f2ebbf;
  border-radius: 24px;
  overflow: hidden;
}

.contact .group {
  top: 141px;
  position: absolute;
  width: 391px;
  height: 27px;
  left: 91px;
}

.contact .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto-Thin", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contact .line {
  position: absolute;
  width: 385px;
  height: 1px;
  top: 26px;
  left: 4px;
  object-fit: cover;
}

.contact .group-2 {
  top: 82px;
  position: absolute;
  width: 391px;
  height: 27px;
  left: 91px;
}

.contact .group-3 {
  top: 200px;
  position: absolute;
  width: 391px;
  height: 27px;
  left: 91px;
}

.contact .group-4 {
  top: 259px;
  position: absolute;
  width: 391px;
  height: 27px;
  left: 91px;
}

.contact .pbutton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 33px;
  position: absolute;
  top: 336px;
  left: 91px;
  background-color: #8cbeb2;
  border-radius: 13px;
  overflow: hidden;
}

.contact .let-s-talk {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto Flex-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contact .p {
  position: absolute;
  width: 264px;
  top: 201px;
  left: 98px;
  font-family: "Roboto Slab-Black", Helvetica;
  font-weight: 900;
  color: #dc3939;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .img {
  position: absolute;
  width: 236px;
  height: 70px;
  top: 594px;
  left: 98px;
}

.about {
background-color: #383838;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}
.about .div {
background-color: #383838;
width: 1440px;
height: 1024px;
position: relative;
}
.about .text-wrapper {
position: absolute;
width: 193px;
top: 75px;
left: 91px;
font-family: "Roboto Flex-Black", Helvetica;
font-weight: 900;
color: #ffffff;
font-size: 16px;
letter-spacing: 0;
line-height: normal;
}
.about .nav {
display: flex;
width: 276px;
height: 31px;
align-items: flex-start;
gap: 29px;
padding: 7px 11px 7px 17px;
position: absolute;
top: 66px;
left: 1044px;
background-color: #383838;
border-radius: 18px;
}
.about .text-wrapper-2 {
position: relative;
width: fit-content;
margin-top: -1.00px;
margin-bottom: -1.00px;
font-family: "Roboto Flex-Black", Helvetica;
font-weight: 900;
color: #ffffff;
font-size: 16px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.about .frame {
  position: absolute;
  width: 1096px;
  height: 580px;
  top: 236px;
  left: 172px;
  background-color: #8cbeb2;
}

.about .rectangle {
  position: absolute;
  width: 380px;
  height: 523px;
  top: 22px;
  left: 79px;
  object-fit: cover;
}

.about .text-wrapper-3 {
  position: absolute;
  top: 124px;
  left: 526px;
  font-family: "Scada-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.about .my-name-is-sangay {
  position: absolute;
  width: 337px;
  top: 223px;
  left: 535px;
  font-size: "Scada-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}