* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #383838;
  color: #ffffff;
  height: 100%;
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222;
}

.logo h1 a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
}

.navbar li a {
  color: #cfcfcf;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 25px;
  transition: 0.3s;
}

.navbar li a:hover,
.navbar li a.active {
  background-color: #8cbeb2;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.form-container {
  background-color: #f2ebbf;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  max-width: 600px;
  width: 100%;
}

.intro-text {
  font-size: 30px;
  font-weight: bold;
  color: #dc3939;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 18px;
  color: #000000;
  margin-bottom: 5px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #000000;
}

.submit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 33px;
  background-color: #8cbeb2;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.3s;
}
