  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
  }
  
  .logo h1 a {
    font-size: 30px;
    color: white;
    text-decoration: none;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
  }
  
  .navbar li a {
    color: #cfcfcf;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  .navbar li a:hover,
  .navbar li a.active {
    background-color: #8cbeb2;
  } 
  
  .homepage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #005148;
    padding: 100px 50px 50px;
    min-height: 100vh;
    padding-top: 80px;
  }
  
  .text-wrapper {
    font-family: 'Arial', sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: #ffffff;
    max-width: 600px;
  }
  
  .frame {
    width: 400px;
    height: 552px;
    border-radius: 20px;
    background-image: url(./imgs/me.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .pbutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 30px;
    background-color: #00796b;
    color: #ffffff;
    border-radius: 13px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .pbutton:hover {
    background-color: #004d40;
  }
  
  .section {
    padding: 50px;
    text-align: left;
  }
  
  .bg-alt {
    background-color: #e0f7fa;
  }
  
  .bg-light {
    background-color: #f0f4c3;
  }
  
  .bg-accent {
    background-color: #ffe0b2;
  }
  
  .frame-3, .frame-5, .frame-8 {
    width: 700px;
    height: 400px;
    background-color: #000000;
    border-radius: 20px;
    margin: 0 auto 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .frame-3 video, .frame-5 video, .frame-8 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .section-title {
    font-family: 'Roboto Slab', Helvetica, sans-serif;
    font-size: 48px;
    color: #4d2424;
    margin-bottom: 20px;
  }
  
  .section-content {
    font-size: 24px;
    color: #333333;
    max-width: 600px;
    margin: 0 auto;
  }
  